
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <!--
                              <li><a href="https://www.facebook.com/BIONETCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://www.linkedin.com/company/bionetcorp/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                              -->
                            <li>&nbsp;</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Header end-->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/assets/images/logo.svg" style="width:70%;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="@Url.Action("Index", "Home")" class="active">首頁</a></li>
                            <li>
                                <a href="@Url.Action("News", "Home")">最新消息</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">關於訊聯細胞智藥</a>
                                <ul class="sub-menu">
                                <li><a href="@Url.Action("TxIntro", "Home")">訊聯細胞智藥簡介</a></li>
                                <li><a href="@Url.Action("CorpIntro", "Home")">訊聯生技集團優勢</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">產品服務</a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("CellTherapy", "Home")">細胞製劑</a></li>
                                    <li><a href="@Url.Action("Exosome", "Home")">外泌體 Exosome</a></li>
                                </ul>
                            </li>
                        <li ><a href="@Url.Action("Contact", "Home")">聯絡我們</a></li>

                            <li style="padding-right:10px;"><a href="https://www.facebook.com/BIONETCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li style="padding-left:0px;"><a href="https://www.linkedin.com/company/bionetcorp/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                        @* 切換中英 *@
                        @{
                            // 取得 controller 名稱並轉換為字串
                            var controllerNameObj = ViewContext.RouteData.Values["controller"];
                            var controllerName = controllerNameObj != null ? controllerNameObj.ToString() : string.Empty;

                            // 取得 action 名稱並轉換為字串，預設為 "Index"
                            var actionNameObj = ViewContext.RouteData.Values["action"];
                            var actionName = actionNameObj != null ? actionNameObj.ToString() : "Index";
                        }

                        <li style="padding-right:0px;">
                            @if (controllerName == "Home")
                            {
                                <!-- 當前是中文頁面，點擊切換到英文 -->
                                <a href="@Url.Action(actionName, "EN")">EN</a>
                            }
                            else if (controllerName == "EN")
                            {
                                <!-- 當前是英文頁面，點擊切換到中文 -->
                                <a href="@Url.Action(actionName, "Home")">繁中</a>
                            }
                            else
                            {
                                <!-- 當 controllerName 為 null 或其他值時，提供預設鏈接 -->
                                <a href="@Url.Action("Index", "Home")">繁中</a>
                            }
                        </li>



                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
