@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_newsLayoutEN.cshtml";
}

@{
    ViewData["Title"] = "Latest News";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、外泌體Exosome(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、外泌體Exosome、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CDMO";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filters">
                            <ul>
                                <li data-filter=".soon">Press Release</li>
                                <li data-filter=".imp">Events</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row grid">
                            @* 2024.9.28~9.29 台灣美容外 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=331" target="_blank">
                                            <img src="~/assets/images/news-list29.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/18</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=331" target="_blank">
                                            <h4 class="mb-4">
                                                2024.9.28~9.29 台灣美容外科醫學會(TSAPS)國際學術年會

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                          @*   2024再生醫學論 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://bit.ly/3TkLzIr" target="_blank">
                                            <img src="~/EN/assets/images/news-list28.svg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/11</h6>
                                        </div>
                                        <a href="https://bit.ly/3TkLzIr" target="_blank">
                                            <h4 class="mb-4">
                                                2024 Regenerative Medicine Forum: Exosome Aesthetics & New Drug Development
                                                Trends
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                           @*  2024.9.13~9.15 國際皮膚 *@
                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=330" target="_blank">
                                            <img src="~/EN/assets/images/news-list27.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/03</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=330" target="_blank">
                                            <h4 class="mb-4">
                                                2024.9.13~9.15 43th Annual Meeting of the ISDS
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=326" target="_blank">
                                            <img src="~/assets/images/news-list26.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/26</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=326" target="_blank">
                                            <h4 class="mb-4">
                                                訊聯Exosome Foundry成生技展大亮點 五大國際品牌成功案例發表 吸引各行各業加入生技兆元產業

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                          @*   2024/06/17再生醫學 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://youtu.be/YssErvDTF8Y" target="_blank">
                                            <img src="~/EN/assets/images/news-list25.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://youtu.be/YssErvDTF8Y" target="_blank">
                                            <h4 class="mb-4">
                                                June 17, 2024, Regenerative Medicine "Master Forum on New Drug Development"
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @*  2024/06/16再生醫學 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://youtu.be/ihkQqu3pxck" target="_blank">
                                            <img src="~/EN/assets/images/news-list24.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://youtu.be/ihkQqu3pxck" target="_blank">
                                            <h4 class="mb-4">
                                                June 16, 2024, Regenerative Medicine "Exosome Aesthetic Forum"
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=320" target="_blank">
                                            <img src="~/assets/images/news-list23.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=320" target="_blank">
                                            <h4 class="mb-4">
                                                外泌體全球研發代工發表會 7/26重磅登場
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @* 訊聯生技將借道「捷克」 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=322">
                                            <img src="~/EN/assets/images/news-list22.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/03</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=322">
                                            <h4>BIONET enters Europe via the Czech Republic.We will make exosomes like TSMC's word factory and export them to the world.
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=318" target="_blank">
                                            <img src="~/assets/images/news-list21.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=318" target="_blank">
                                            <h4 class="mb-4">
                                                再生醫療雙法通過·迎外泌體新時代 小S提領女兒Elly最美的聯繫－臍帶血外泌體 醫：最好外泌體來源之一就在婦產科！

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=317" target="_blank">
                                            <img src="~/assets/images/news-list20.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=317" target="_blank">
                                            <h4 class="mb-4">
                                                繼台積電晶圓代工Foundry、輝達 AI foundry 商模 訊聯Exosome Foundry全球研發中心與世界工廠 打造外泌體黃金大時代!

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=319" target="_blank">
                                            <img src="~/assets/images/news-list19.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=319" target="_blank">
                                            <h4 class="mb-4">
                                                世上唯一！小S大女兒Elly提領最美畢業禮-臍帶血外泌體 見證訊聯昔日3寶，變當代再生醫療最夯科技-外泌體新3寶！
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=313" target="_blank">
                                            <img src="~/assets/images/news-list18.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/05/30</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=313" target="_blank">
                                            <h4 class="mb-4">
                                                醫美遇上外泌體！術後保養新趨勢　膠原蛋白增8成


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                           @*  6/16-6/17 外泌體醫美 *@
                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=99&a_id=263" target="_blank">
                                            <img src="~/EN/assets/images/news-list17.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/05/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=99&a_id=263" target="_blank">
                                            <h4 class="mb-4">
                                                6/16-6/17 Exosome Aesthetics and Master Forum on New Drug Development

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=308" target="_blank">
                                            <img src="~/assets/images/news-list16.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/5/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=308" target="_blank">
                                            <h4 class="mb-4">
                                                加速新藥研發落地 商機超級大 生技業摩拳擦掌


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList15", "EN" )">
                                            <img src="~/assets/images/news-list15.svg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/4/2</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList15", "EN" )">
                                            <h4 class="mb-4">
                                                訊聯乾眼症外泌體新藥獲CDE指標案件輔導 肺部纖維化間質幹細胞新藥二期獲核可



                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <!--<a href="event-list1-details.html"><img src="~/EN/assets/images/event-list1.svg" alt=""></a>-->
                                        <a href="https://www.youtube.com/watch?v=fqlHOW15LHs" target="_blank">
                                            <img src="~/EN/assets/images/event-list1.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/04/01</h6>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=fqlHOW15LHs" target="_blank">
                                            <h4 class="mb-4">International guidelines and comprehensive testing for high-quality exosome production.</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="news-list15-details.html"><img src="~/EN/assets/images/news-list15.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/3/29</h6>
                                        </div>
                                        <a href="news-list15-details.html">
                                            <h4>
                                          
                                                    BIONET and Univercells Technologies's collaboration propels
                                                    mass production of exosomes with scale-X™ bioreactor integration
                       


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @* 創新生物藥開發 *@
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=303" target="_blank">
                                            <img src="~/EN/assets/images/news-list14.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/3/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=303" target="_blank">
                                            <h4>
                                              
                                                    Regulatory Guidelines for Innovative Biopharmaceuticals and
                                                    Advanced Manufacturing: Perspectives and Insights.
                       
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>






                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=302" target="_blank">
                                            <img src="~/EN/assets/images/news-list13.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/22</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=302" target="_blank">
                                            <h4 class="mb-4">
                                                2024.6.3~6.6 - BIO International Convention
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=301" target="_blank">
                                            <img src="~/EN/assets/images/news-list12.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/21</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=301" target="_blank">
                                            <h4 class="mb-4">
                                                2024.4.23~4.26 CI KOREA
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=300" target="_blank">
                                            <img src="~/EN/assets/images/news-list11.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=300" target="_blank">
                                            <h4 class="mb-4">
                                                2024.4.17~4.19 CPHI Japan
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


 

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=296" target="_blank">
                                            <img src="~/EN/assets/images/news-list10.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1" >
                                            <h6 class="text-start">2024/1/22</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=296" target="_blank">
                                            <h4 class="mb-4">
                                                重大醫療新聞

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=94" target="_blank">
                                            <img src="~/EN/assets/images/news-list9.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/12/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=94" target="_blank">
                                            <h4 class="mb-4">
                                                2023外泌體研討會精彩回顧-外泌體新趨勢，台灣不可缺席！

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList7","EN")"><img src="~/EN/assets/images/news-list7.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/11/27</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList7","EN")">
                                            <h4 class="mb-4">
                                                BIONET collaborates with Metapore to jointly target the rapidly growing global exosome
                                                market.
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=292">
                                            <img src="~/EN/assets/images/news-list8.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/11/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=292">
                                            <h4 class="mb-4">
                                                外泌體結合CRDMO 台灣未來十年決勝點

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList6", "EN" )"><img src="~/EN/assets/images/news-list6.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/8/23</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList6", "EN" )">
                                            <h4 class="mb-4">
                                                童綜合醫院、訊聯脂肪幹細胞攻克關節退化 八旬翁2週重獲好膝力！帶動旅美華人回台求診

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList5", "EN" )"><img src="~/EN/assets/images/news-list5.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/8/9</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList5", "EN" )">
                                            <h4 class="mb-4">
                                                訊聯營收創新高，外泌體再生醫學、智慧研發添動能！布局「i369戰略目標」再寫黃金十年
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList4", "EN" )"><img src="~/EN/assets/images/news-list4.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/04/19</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList4", "EN" )">
                                            <h4 class="mb-4">
                                                台灣首例！外泌體加間質幹細胞 治療馬匹肌腱損傷 外泌體革命性療法 腎貓、犬關節炎治療新解方
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList2", "EN" )"><img src="~/EN/assets/images/news-list2.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2022/11/28</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList2", "EN" )">
                                            <h4 class="mb-4">
                                                訊聯特管辦法收案成效佳 加速新公司再生醫療新藥開發
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList1", "EN" )"><img src="~/EN/assets/images/news-list1.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2022/11/22</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList1", "EN" )">
                                            <h4 class="mb-4">
                                                創源生技獲利翻倍！助攻訊聯集團外泌體應用 加速再生醫療製劑研發
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList3", "EN" )"><img src="~/EN/assets/images/news-list3.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/02/14</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList3", "EN" )">
                                            <h4 class="mb-4">
                                                國內領先！中山附醫、訊聯細胞治療大突破！6週癒合車禍外傷「粉碎性骨折所致慢性傷口」
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@* <script src="~/EN/~/assets/js/isotope.js"></script> *@